.field {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  background-image: url("/assets/img/wood_background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-stack {
  position: relative;
  img {
    position: absolute;
    width: 120px;
  }
}

.top-card {
  transition: all 150ms ease-in-out;
  &:hover {
    cursor: pointer;
    transform: scale(1.1) translatey(-10px);
  }
}

.played-card {
  right: 25px;
  transform: scale(1.5) translate(120px, 150px) rotate(-20deg);
}

.pick-card {
  animation: pick-card-animation 1s ease-in-out;
  transform: scale(1.5) translate(120px, 150px) rotate(-20deg);
}
@keyframes pick-card-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1.5) translate(120px, 150px) rotate(-20deg);
  }
}
